# Recommendation System

In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta

import requests
import json
from pandas import json_normalize

import geopandas as gpd
from shapely.geometry import Point

import folium
from folium import plugins
from folium.plugins import HeatMap, MarkerCluster

import h3
from shapely.geometry import Polygon, box, Point  # Import Point from shapely.geometry

from datetime import datetime, timedelta
import requests
import json
from IPython.display import IFrame

### Weekday
Import and clean up the weekday processed data

In [18]:
weekday_df = pd.read_csv('assets/processed_data/rnn_weekday_50.csv')

weekday_df.head()

,timestamp,1.0,3.0,7.0,9.0,10.0,11.0,12.0,14.0,15.0,...,227.0,228.0,229.0,230.0,231.0,234.0,235.0,242.0,243.0,246.0
0,08:00,12.326084,14.167109,973.63635,288.25046,599.70490,32.065525,10.523396,190.728780,370.571560,...,251.62949,319.10815,81.850464,706.99340,0.045017,182.264830,385.96106,1324.76900,42.640200,208.760910
1,09:00,5.190256,15.209727,534.89070,93.83793,279.90630,9.838885,3.893584,54.825474,203.664430,...,158.52397,357.98100,152.694750,553.05950,0.031617,156.173050,135.60210,615.83000,17.232440,96.408780
2,10:00,9.391261,21.488907,245.65514,45.25874,193.52080,29.946880,6.635819,65.591010,101.483450,...,67.15878,194.64983,93.309920,368.63965,0.052707,93.556810,78.04914,518.18835,21.762228,62.256530
3,11:00,14.293860,28.172117,272.00946,92.29380,192.81528,51.771187,17.430252,85.225440,85.535164,...,75.63334,130.60706,78.701410,278.74880,0.130814,87.420430,96.57010,337.76755,40.476060,59.176678
4,12:00,37.916280,46.748490,359.80180,171.47353,292.96716,29.242655,26.318710,173.624450,103.892560,...,134.53589,149.35442,93.812130,260.78052,0.064290,93.651695,189.22137,327.57170,17.342712,87.829100

In [19]:
# Set the index of the DataFrame to the second column
weekday_df.set_index(weekday_df.columns[0], inplace=True)

# Transpose the dataframe
weekday_df = weekday_df.T

# Reset the index to move the index into the first column
weekday_df = weekday_df.reset_index()

# Rename the index to h3_index
weekday_df = weekday_df.rename(columns = {'index': 'h3_index'})

weekday_df.head()

timestamp,h3_index,08:00,09:00,10:00,11:00,12:00,13:00,14:00,15:00,16:00,17:00,18:00,19:00,20:00,21:00,22:00,23:00
0,1.0,12.326084,5.190256,9.391261,14.293860,37.91628,31.855322,32.786774,36.069042,86.242645,36.048134,107.84753,62.45464,60.929604,25.990340,16.809061,4.505421
1,3.0,14.167109,15.209727,21.488907,28.172117,46.74849,96.955530,120.857925,90.126820,327.171400,321.141400,394.53622,512.86940,495.746100,33.056507,33.802418,11.697658
2,7.0,973.636350,534.890700,245.655140,272.009460,359.80180,442.274540,426.553680,371.388120,449.169460,623.614000,790.36960,659.44415,307.365480,267.394960,164.665390,65.136950
3,9.0,288.250460,93.837930,45.258740,92.293800,171.47353,129.265430,135.891280,131.168700,202.735400,243.774490,311.16238,397.12540,112.532135,57.255123,61.139340,15.415363
4,10.0,599.704900,279.906300,193.520800,192.815280,292.96716,279.580080,257.179000,268.998570,274.491600,187.467000,502.65010,328.65344,204.063370,128.492140,101.404610,48.774150

In [20]:
original_df = pd.read_csv('assets/processed_data/modeling_final.csv')
original_df.head()

,Unnamed: 0,h3_index,h3_address,latitude,longitude,geometry,weekday_00,weekday_01,weekday_02,weekday_03,...,weekend_14,weekend_15,weekend_16,weekend_17,weekend_18,weekend_19,weekend_20,weekend_21,weekend_22,weekend_23
0,0,1,876520c18ffffff,1.290950,103.628706,POLYGON ((103.64169005775774 1.287376944150446...,0.032258,0.0,0.0,0.0,...,252.5,131.714286,176.0,185.444444,168.5,71.75,35.9,35.090909,38.166667,11.75
1,1,2,876526aeaffffff,1.289424,103.943911,"POLYGON ((103.9568727977856 1.285851866048183,...",0.000000,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.00,0.0,0.000000,0.000000,0.00
2,2,3,876520c82ffffff,1.415494,103.707587,POLYGON ((103.72057022657783 1.411915276730170...,0.000000,0.0,0.0,0.0,...,28.5,60.000000,25.0,110.000000,35.5,79.00,34.0,6.000000,1.428571,1.00
3,3,4,87652632effffff,1.430500,104.006687,"POLYGON ((104.01964910323045 1.42692106210811,...",0.000000,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.00,0.0,0.000000,0.000000,0.00
4,4,5,876520c93ffffff,1.460598,103.720903,"POLYGON ((103.7338872805112 1.457016714997125,...",0.000000,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.00,0.0,0.000000,0.000000,0.00

In [21]:
# Remove the Unnamed: 0 column
original_df = original_df.drop(columns = 'Unnamed: 0')

# Filter the dataframe to only show the required columns
original_df = original_df[['h3_index', 'h3_address', 'latitude', 'longitude', 'geometry']]
original_df.head()

,h3_index,h3_address,latitude,longitude,geometry
0,1,876520c18ffffff,1.290950,103.628706,POLYGON ((103.64169005775774 1.287376944150446...
1,2,876526aeaffffff,1.289424,103.943911,"POLYGON ((103.9568727977856 1.285851866048183,..."
2,3,876520c82ffffff,1.415494,103.707587,POLYGON ((103.72057022657783 1.411915276730170...
3,4,87652632effffff,1.430500,104.006687,"POLYGON ((104.01964910323045 1.42692106210811,..."
4,5,876520c93ffffff,1.460598,103.720903,"POLYGON ((103.7338872805112 1.457016714997125,..."

In [22]:
# As the h3_index in weekday_df is an object, change it to int to allow merging
weekday_df['h3_index'] = weekday_df['h3_index'].astype(float).astype(int)

In [23]:
# Merge the original df with the processed data
final_weekday = pd.merge(original_df, weekday_df, on = 'h3_index')
final_weekday.head()

,h3_index,h3_address,latitude,longitude,geometry,08:00,09:00,10:00,11:00,12:00,...,14:00,15:00,16:00,17:00,18:00,19:00,20:00,21:00,22:00,23:00
0,1,876520c18ffffff,1.290950,103.628706,POLYGON ((103.64169005775774 1.287376944150446...,12.326084,5.190256,9.391261,14.293860,37.91628,...,32.786774,36.069042,86.242645,36.048134,107.84753,62.45464,60.929604,25.990340,16.809061,4.505421
1,3,876520c82ffffff,1.415494,103.707587,POLYGON ((103.72057022657783 1.411915276730170...,14.167109,15.209727,21.488907,28.172117,46.74849,...,120.857925,90.126820,327.171400,321.141400,394.53622,512.86940,495.746100,33.056507,33.802418,11.697658
2,7,876520d99ffffff,1.326402,103.765495,POLYGON ((103.77847131144851 1.322826893715314...,973.636350,534.890700,245.655140,272.009460,359.80180,...,426.553680,371.388120,449.169460,623.614000,790.36960,659.44415,307.365480,267.394960,164.665390,65.136950
3,9,876520d81ffffff,1.270614,103.791103,POLYGON ((103.80407506487525 1.267042182687771...,288.250460,93.837930,45.258740,92.293800,171.47353,...,135.891280,131.168700,202.735400,243.774490,311.16238,397.12540,112.532135,57.255123,61.139340,15.415363
4,10,876520ca0ffffff,1.337127,103.726561,POLYGON ((103.73954044620316 1.333551410689863...,599.704900,279.906300,193.520800,192.815280,292.96716,...,257.179000,268.998570,274.491600,187.467000,502.65010,328.65344,204.063370,128.492140,101.404610,48.774150

### Weekend
Import and clean up the weekend processed data

In [24]:
weekend_df = pd.read_csv('assets/processed_data/rnn_weekend_50.csv')

weekend_df.head()

,timestamp,1.0,3.0,7.0,9.0,10.0,11.0,12.0,14.0,15.0,...,227.0,228.0,229.0,230.0,231.0,234.0,235.0,242.0,243.0,246.0
0,08:00,29.256376,27.427320,364.67465,249.90736,371.97717,62.415783,48.355957,111.43255,129.19930,...,148.54059,174.98471,85.219925,363.31760,0.206210,117.11740,257.96048,462.53995,95.686160,148.91931
1,09:00,37.549988,41.774292,631.24520,130.14272,504.84467,63.893753,46.919720,354.67648,257.66140,...,191.09784,260.32250,132.580380,413.83585,0.002876,149.98799,291.86212,862.56480,107.259415,184.69582
2,10:00,86.044360,95.369644,615.94653,189.09045,569.64355,66.769910,61.584805,122.22171,258.72382,...,198.75789,245.80893,81.247530,413.21520,0.532505,166.66942,340.15778,496.72845,116.737710,185.25725
3,11:00,59.792233,61.763103,764.70060,231.83015,497.69183,206.333880,84.453470,319.05570,252.44386,...,235.23087,223.89696,112.622130,529.15230,0.056153,131.79228,521.56150,600.12370,92.027170,273.07086
4,12:00,139.822650,60.772522,612.88995,193.64178,526.93640,161.854890,137.355200,225.59767,190.67719,...,212.34178,243.65982,117.067820,556.38980,0.115950,142.75787,535.97740,530.72010,57.534443,267.26822

In [25]:
# Set the index of the DataFrame to the second column
weekend_df.set_index(weekend_df.columns[0], inplace=True)

# Transpose the dataframe
weekend_df = weekend_df.T

# Reset the index to move the index into the first column
weekend_df = weekend_df.reset_index()

# Rename the index to h3_index
weekend_df = weekend_df.rename(columns = {'index': 'h3_index'})

weekend_df.head()

timestamp,h3_index,08:00,09:00,10:00,11:00,12:00,13:00,14:00,15:00,16:00,17:00,18:00,19:00,20:00,21:00,22:00,23:00
0,1.0,29.256376,37.549988,86.044360,59.792233,139.822650,297.41885,266.740050,123.560990,196.159760,194.87593,170.573410,66.791275,35.626865,37.068604,35.917670,12.241893
1,3.0,27.427320,41.774292,95.369644,61.763103,60.772522,51.10413,30.978437,58.317276,24.046183,88.82896,35.742073,33.583977,32.449066,6.005835,2.055595,1.109085
2,7.0,364.674650,631.245200,615.946530,764.700600,612.889950,710.36300,534.795500,512.437300,691.072800,959.19257,614.041140,672.558100,432.716030,439.897130,226.956160,99.319780
3,9.0,249.907360,130.142720,189.090450,231.830150,193.641780,153.81293,157.651320,262.672330,225.049360,590.50696,336.518200,450.435580,181.081620,91.336136,78.580740,52.264084
4,10.0,371.977170,504.844670,569.643550,497.691830,526.936400,400.96347,367.835880,350.880130,343.024750,549.64550,413.969200,437.552370,377.421500,244.767750,143.039340,76.656906

In [26]:
# As the h3_index in weekday_df is an object, change it to int to allow merging
weekend_df['h3_index'] = weekend_df['h3_index'].astype(float).astype(int)

In [27]:
# Merge the original df with the processed data
final_weekend = pd.merge(original_df, weekend_df, on = 'h3_index')
final_weekend.head()

,h3_index,h3_address,latitude,longitude,geometry,08:00,09:00,10:00,11:00,12:00,...,14:00,15:00,16:00,17:00,18:00,19:00,20:00,21:00,22:00,23:00
0,1,876520c18ffffff,1.290950,103.628706,POLYGON ((103.64169005775774 1.287376944150446...,29.256376,37.549988,86.044360,59.792233,139.822650,...,266.740050,123.560990,196.159760,194.87593,170.573410,66.791275,35.626865,37.068604,35.917670,12.241893
1,3,876520c82ffffff,1.415494,103.707587,POLYGON ((103.72057022657783 1.411915276730170...,27.427320,41.774292,95.369644,61.763103,60.772522,...,30.978437,58.317276,24.046183,88.82896,35.742073,33.583977,32.449066,6.005835,2.055595,1.109085
2,7,876520d99ffffff,1.326402,103.765495,POLYGON ((103.77847131144851 1.322826893715314...,364.674650,631.245200,615.946530,764.700600,612.889950,...,534.795500,512.437300,691.072800,959.19257,614.041140,672.558100,432.716030,439.897130,226.956160,99.319780
3,9,876520d81ffffff,1.270614,103.791103,POLYGON ((103.80407506487525 1.267042182687771...,249.907360,130.142720,189.090450,231.830150,193.641780,...,157.651320,262.672330,225.049360,590.50696,336.518200,450.435580,181.081620,91.336136,78.580740,52.264084
4,10,876520ca0ffffff,1.337127,103.726561,POLYGON ((103.73954044620316 1.333551410689863...,371.977170,504.844670,569.643550,497.691830,526.936400,...,367.835880,350.880130,343.024750,549.64550,413.969200,437.552370,377.421500,244.767750,143.039340,76.656906

In [28]:
final_weekday.to_csv('assets/processed_data/final_weekday_streamlit.csv')
final_weekend.to_csv('assets/processed_data/final_weekend_streamlit.csv')

In [32]:
# Get the current datetime
current_datetime = datetime.now()

# Extract the time
current_time = current_datetime.time() 

# Extract the time in HH:MM format
time_str = current_time.strftime("%H:%M")

# Get the next hour
nearest_next_hour = current_datetime.replace(minute=0, second=0, microsecond=0) + timedelta(hours=1)
nearest_next_hour_str = nearest_next_hour.strftime("%H:%M")

# Determine if it's a weekday or weekend
day_type = "Weekend" if nearest_next_hour.weekday() >= 5 else "Weekday"

time_remaining = nearest_next_hour - current_datetime
time_remaining_minutes = time_remaining.total_seconds()/60
print(f'Time to the next hour, {nearest_next_hour_str} is {round(time_remaining_minutes)} minutes')
print(f'Iteration starting from hexagon with highest crowd-to-taxi ratio')
print('')

if day_type == 'Weekday':
    recommended_df = final_weekday[[f'{nearest_next_hour_str}', 'h3_index', 'latitude', 'longitude']]

else:
    recommended_df = final_weekend[[f'{nearest_next_hour_str}', 'h3_index', 'latitude', 'longitude']]

recommended_df = recommended_df.sort_values(ascending=False, by=f'{nearest_next_hour_str}')

API_KEY = 'AIzaSyC65_kkRcmP6aurrGc4p_Z-VbzB7cOV20w'
origins = '1.2780, 103.8404'
#destinations = '1.449855, 103.759853'

for i in range(len(recommended_df)):
    lat = recommended_df.iloc[i]['latitude']
    long = recommended_df.iloc[i]['longitude']
    h3_index = recommended_df.iloc[i]['h3_index']
    destinations = f'{lat}, {long}'
    #url = f"https://maps.googleapis.com/maps/api/distancematrix/json?origins={origins}&destinations={destinations}&key={API_KEY}"
    distance_matrix_url = (
    f"https://maps.googleapis.com/maps/api/distancematrix/json?origins={origins}"
    f"&destinations={destinations}&departure_time=now&key={API_KEY}")
    response = requests.get(distance_matrix_url)
    data = response.json()
    print(f'Target destination: {h3_index} h3_index')
    
    if data['status'] == 'OK':
        distance = data['rows'][0]['elements'][0]['distance']['text']
        duration_str = data['rows'][0]['elements'][0]['duration_in_traffic']['text']
        print(f'Calculating time required: {duration_str}')
        # Convert duration to minutes
        duration_parts = duration_str.split()
        if 'hour' in duration_str:
            hours = int(duration_parts[0])
            minutes = int(duration_parts[2])
            duration = hours * 60 + minutes
        else:
            duration = int(duration_parts[0])

        if duration < time_remaining_minutes:
            print('')
            print(f'Please go to the {lat.round(4)} latitude and {long.round(4)} longitude, located at {h3_index} h3_index')
            break
        print(f'There is not enough time to reach the target destination')
        print(f'Choosing other destination')
        print('')
    else:
        print("Error:", data['status'])

else:
    print('No suitable location found within the remaining time')

# Google Maps JavaScript API URL for displaying the route
maps_url = f"https://www.google.com/maps/embed/v1/directions?key={API_KEY}&origin={origins}&destination={destinations}"

# Display the map using IFrame
IFrame(maps_url, width=1000, height=400)

Time to the next hour, 17:00 is 9 minutes
Iteration starting from hexagon with highest crowd-to-taxi ratio

Target destination: 171.0 h3_index
Calculating time required: 34 mins
There is not enough time to reach the target destination
Choosing other destination

Target destination: 126.0 h3_index
Calculating time required: 22 mins
There is not enough time to reach the target destination
Choosing other destination

Target destination: 180.0 h3_index
Calculating time required: 56 mins
There is not enough time to reach the target destination
Choosing other destination

Target destination: 170.0 h3_index
Calculating time required: 15 mins
There is not enough time to reach the target destination
Choosing other destination

Target destination: 172.0 h3_index
Calculating time required: 30 mins
There is not enough time to reach the target destination
Choosing other destination

Target destination: 31.0 h3_index
Calculating time required: 32 mins
There is not enough time to reach the target destination
Choosing other destination

Target destination: 47.0 h3_index
Calculating time required: 11 mins
There is not enough time to reach the target destination
Choosing other destination

Target destination: 7.0 h3_index
Calculating time required: 18 mins
There is not enough time to reach the target destination
Choosing other destination

Target destination: 235.0 h3_index
Calculating time required: 14 mins
There is not enough time to reach the target destination
Choosing other destination

Target destination: 133.0 h3_index
Calculating time required: 21 mins
There is not enough time to reach the target destination
Choosing other destination

Target destination: 182.0 h3_index
Calculating time required: 28 mins
There is not enough time to reach the target destination
Choosing other destination

Target destination: 227.0 h3_index
Calculating time required: 2 mins

Please go to the 1.2824 latitude and 103.8367 longitude, located at 227.0 h3_index

In [30]:
# Code to check where the hexagon is located

#geo_subset = hexagon_final.loc[hexagon_final['weekend_18'].idxmax(), ['geometry']]
geo_subset = final_weekday[final_weekday['h3_index'] == 64]['geometry']
geo_subset

import folium
from shapely.geometry import Polygon

# Assuming geo_subset is a pandas Series containing WKT strings
for geo_data in geo_subset:
    # Extract the WKT string from the Series element
    wkt_string = str(geo_data)
    
    # Parse WKT string into a Shapely polygon
    polygon = Polygon([(float(xy.split()[0]), float(xy.split()[1])) for xy in wkt_string[10:-2].split(', ')])
    
    # Create Folium map centered at the centroid of the polygon
    m = folium.Map(location=[polygon.centroid.y, polygon.centroid.x], zoom_start=10)
    
    # Add the polygon to the map using the GeoJson function
    folium.GeoJson(data=polygon.__geo_interface__, name='polygon').add_to(m)
    
    # Display the map
    display(m)

# Get the current datetime
current_datetime = datetime.now()

# Extract the time
current_time = current_datetime.time() 

# Extract the time in HH:MM format
time_str = current_time.strftime("%H:%M")

# Get the next hour
nearest_next_hour = current_datetime.replace(minute=0, second=0, microsecond=0) + timedelta(hours=1)
nearest_next_hour_str = nearest_next_hour.strftime("%H:%M")

# Determine if it's a weekday or weekend
day_type = "Weekend" if nearest_next_hour.weekday() >= 5 else "Weekday"
# Print the nearest next hour
#print("Nearest Next Hour:", nearest_next_hour.strftime("%H:%M"))
# Print the results
#print(f"Day Type: {day_type}")
#print(f"Current Time: {time_str}")

time_remaining = nearest_next_hour - current_datetime
time_remaining_minutes = time_remaining.total_seconds()/60
print(f'Time to the next hour, {nearest_next_hour_str} is {round(time_remaining_minutes)} minutes')
print(f'Iteration starting from hexagon with highest taxi available/crowd ratio')
print('')

if day_type == 'Weekday':
    recommended_df = final_weekday[[f'{nearest_next_hour_str}', 'h3_index', 'latitude', 'longitude']]

else:
    recommended_df = final_weekend[[f'{nearest_next_hour_str}', 'h3_index', 'latitude', 'longitude']]

recommended_df = recommended_df.sort_values(ascending=False, by=f'{nearest_next_hour_str}')

API_KEY = 'AIzaSyC65_kkRcmP6aurrGc4p_Z-VbzB7cOV20w'
origins = '1.2780, 103.8404'
#destinations = '1.449855, 103.759853'

for i in range(len(recommended_df)):
    lat = recommended_df.iloc[i]['latitude']
    long = recommended_df.iloc[i]['longitude']
    h3_index = recommended_df.iloc[i]['h3_index']
    destinations = f'{lat}, {long}'
    url = f"https://maps.googleapis.com/maps/api/distancematrix/json?origins={origins}&destinations={destinations}&key={API_KEY}"
    response = requests.get(url)
    data = response.json()
    print(f'Target destination: {h3_index} h3_index')
    if data['status'] == 'OK':
        distance = data['rows'][0]['elements'][0]['distance']['text']
        duration_str = data['rows'][0]['elements'][0]['duration']['text']
        print(f'Calculating time required: {duration_str}')
        # Convert duration to minutes
        duration_parts = duration_str.split()
        if 'hour' in duration_str:
            hours = int(duration_parts[0])
            minutes = int(duration_parts[2])
            duration = hours * 60 + minutes
        else:
            duration = int(duration_parts[0])

        if duration < time_remaining_minutes:
            print('')
            print(f'Please go to the {lat.round(4)} latitude and {long.round(4)} longitude, located at {h3_index} h3_index')
            html += f"<p>Please go to the location at {lat}, {long}</p>"
            break
        print(f'There is not enough time to reach the target destination')
        print(f'Choosing other destination')
        print('')
    else:
        print("Error:", data['status'])

else:
    print('No suitable location found within the remaining time')

# Use Google Maps API to display the route

# Define your current location
current_location = '1.2780,103.8404'  # Example: Latitude and longitude of Singapore

# Define the recommended destination
recommended_destination = '1.449855,103.759853'  # Example: Latitude and longitude of the recommended destination

# Google Maps JavaScript API URL for displaying the route
maps_url = f"https://www.google.com/maps/embed/v1/directions?key={API_KEY}&origin={origins}&destination={destinations}"

# Display the map using IFrame
IFrame(maps_url, width=600, height=450)

In [31]:
recommended_df

           17:00  h3_index  latitude   longitude
76   1388.676600       171  1.427305  103.753193
53   1133.689300       126  1.331219  103.703763
82    943.680500       180  1.449855  103.759853
75    770.925600       170  1.309772  103.781630
77    668.115540       172  1.296860  103.651508
..           ...       ...       ...         ...
60      8.552992       135  1.340377  103.980016
68      6.107302       151  1.317851  103.973351
57      5.952492       131  1.434276  103.860517
37      2.337282        89  1.450919  103.844387
107     0.554619       231  1.271711  103.875579

[113 rows x 4 columns]